@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  font-weight: 300;
}

hr {
  border: 0.1px solid #e4e4e4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #FCFCFC;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 60px;
  background-color: #0e8a78;
}

.logo-img {
  width: 90px;
  margin-right: 2px;
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  font-size: 15px;
  padding: 12px;
  color: #0e8a78;
  text-decoration: none;
}

.nav-link p{
    font-weight: 500;
}

.btn-contact {
  border-radius: 5px;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  margin: 0 50px;
  background-color: #0e8a78;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background.jpg);
  background-size: cover;
  width: 100vw;
  height: 350px;
  margin-bottom: 50px;
}

.hero-logo {
  width: 400px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  margin-bottom: 60px;
}

.about-title {
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
}

.about-description {
  font-size: 17px;
  color: #0e8a78;
  text-align: center;
  max-width: 550px;
}

.section-about {
  padding: 0 100px;
  margin: 50px 0 120px 0;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 45vh 45vh;
}

.about-img1 {
  border-top-left-radius: 10px;
  background-image: url(/img/womanimg.jpg);
  background-size: cover;
  background-position: center;
}

.about-img2 {
  border-bottom-right-radius: 10px;
  background-image: url(/img/manimg.jpg);
  background-size: cover;
  background-position: center;
}

.about-text1,
.about-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.about-heading {
  font-weight: 600;
  padding: 10px 0 0 0;
  font-size: 30px;
  padding-bottom: 10px;
}

.about-paragraph {
  font-size: 17px;
  max-width: 40vw;
  padding-bottom: 20px;
}

.btn-outline {
  border-radius: 5px;
  font-size: 17px;
  height: 50px;
  width: 150px;
  border: 2px solid #0e8a78;
  background-color: transparent;
  color: #0e8a78;
  font-weight: 600;
  cursor: pointer;
}

.section-products {
  padding: 0 100px;
  margin-bottom: 120px;
}

.products-text{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.products-title {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.products-description {
  text-align: center;
  font-size: 17px;
  max-width:75%;
  padding-bottom: 20px;
}

.products-subtitle{
  max-width: 70%;
  font-size: 17px;
  padding-bottom: 10px;
  color: #0e8a78;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 300px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.card-text1{
  font-size: 20px;
  max-width: 300px;
}

.card-text2{
  font-size: 20px;
  max-width: 150px;
}

.card-text3{
  font-size: 20px;
  max-width: 200px;
}

.card1{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.card2{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.card3{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.product-icons{
  padding: 30px 0;
  width: 90px;
}

.section-news{
  padding: 0 100px;
}

.news-container{
  margin-bottom: 120px;
}

.news-title{
  padding: 10px 0;
  font-size: 30px;
}

.news-description{
  padding: 0 0 20px;
  max-width: 750px;
  font-size: 17px;
}

.section-client{
   padding: 0 150px;
   margin-bottom: 200px;
}

.client-container{
  height: 200px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-title{
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.client-subtitle{
  text-align: center;
  padding-bottom: 20px;
  font-size: 17px;
  max-width: 800px;
}

.client-grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
}

.client-grid1{
  background-color: #f3f3f3;
}

.client-grid2{
  background-color: #f3f3f3;
}

.client-grid3{
  background-color: #f3f3f3;
}

.client-grid4{
  background-color: #f3f3f3;
}

.client-grid5{
  background-color: #f3f3f3;
}

.section-form{
  margin-bottom: 120px;
  padding: 0 100px;
}

.form-container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title{
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.form-subtitle{
  font-size: 17px;
  text-align: center;
  max-width: 600px;
  padding-bottom: 5px;
}

.form-subtitle2{
  text-align: center;
  font-size: 17px;
  padding-bottom: 30px;
}

.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-row1{
  padding-bottom: 15px;
}

.input-row2{
  padding-bottom: 15px;
}

.input-row3{
  padding-bottom: 15px;
}

.input-row4{
  padding-bottom: 15px;
}

.input-row5{
  padding-bottom: 15px;
}

.input-row6{
  padding-bottom: 20px;
}

.name{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 50px;
}

.lastname{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 50px;
}

.enterprise{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 50px;
}

.enterprise-niche{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 50px;
}

.telephone{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 50px;
}

.email{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 50px;
}

#describe{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  width: 50.5vw;
  height: 100px;
  resize: none;
  padding: 70px 0 0 10px;
}

.footer-container{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0 100px;
}

.logogray{
  padding: 100px 0 50px;
  width: 400px;
}

.footer-firts-links a{
  color: #535353;
  font-size: 17px;
  text-decoration: none;
}

.footer-firts-links{
  padding-bottom: 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-firts-links li{
    padding: 0 10px;
}

.footer-second-links a{
  color: #535353;
  font-size: 17px;
  text-decoration: none;
}

.footer-second-links{
  padding-bottom: 100px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-second-links li{
    padding: 0 10px;
}

.copyright-text{
  font-size: 18px;
  padding-bottom: 50px;
}





