@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  font-weight: 300;
  scroll-behavior: smooth;
}

hr {
  border: 0.1px solid #e4e4e4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #FCFCFC;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 60px;
  background-color: #0e8a78;
}

.logo-img {
  width: 90px;
  margin-right: 2px;
}

.nav-button-wrapper a{
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  font-size: 15px;
  padding: 12px;
  color: #0e8a78;
  text-decoration: none;
}

.nav-link:hover{
  text-decoration: underline;
}

.nav-link p{
    font-weight: 500;
}

.btn-contact {
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  margin: 0 50px;
  background-color: #0e8a78;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#a{
  text-decoration: none;
}

.btn-contact:hover{
  background-color: #047060;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background.jpg);
  background-size: cover;
  width: 100vw;
  height: 350px;
  margin-bottom: 50px;
}

.hero-logo {
  width: 400px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  margin-bottom: 60px;
}

.about-title {
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
}

.about-description {
  font-size: 17px;
  color: #0e8a78;
  text-align: center;
  max-width: 550px;
}

.section-about {
  padding: 0 100px;
  margin: 50px 0 120px 0;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 45vh 45vh;
}

.about-img1 {
  border-top-left-radius: 10px;
  background-image: url(/img/womanimg.jpg);
  background-size: cover;
  background-position: center;
}

.about-img2 {
  border-bottom-right-radius: 10px;
  background-image: url(/img/manimg.jpg);
  background-size: cover;
  background-position: center;
}

.about-text1,
.about-text2 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.about-heading {
  font-weight: 600;
  padding: 10px 0 0 0;
  font-size: 30px;
  padding-bottom: 10px;
}

.about-paragraph {
  font-size: 17px;
  max-width: 40vw;
  padding-bottom: 20px;
}

.btn-outline {
  border-radius: 5px;
  font-size: 17px;
  height: 40px;
  width: 120px;
  border: 2px solid #0e8a78;
  background-color: transparent;
  color: #0e8a78;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline:hover{
  color: #FCFCFC;
  background-color: #0e8a78;
  transition: all 0.1s ease-in;
}

.btn-outline:not(:hover){
  transition: all ease-out 0.1s;
}

.section-products {
  padding: 0 100px;
  margin-bottom: 100px;
}

.products-text{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.products-title {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.products-description {
  text-align: center;
  font-size: 17px;
  max-width:75%;
  padding-bottom: 20px;
}

.products-subtitle{
  max-width: 70%;
  font-size: 17px;
  padding-bottom: 10px;
  color: #0e8a78;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 250px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.card-text1{
  font-size: 20px;
  max-width: 300px;
}

.card-text2{
  font-size: 20px;
  max-width: 150px;
}

.card-text3{
  font-size: 20px;
  max-width: 200px;
}

.card1{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.card2{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.card3{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 300px;
  text-align: center;
}

.product-icons{
  padding: 30px 0;
  width: 90px;
}

.section-news{
  padding: 0 100px;
}

.news-container{
  margin-bottom: 120px;
}

.news-title{
  padding: 10px 0;
  font-size: 30px;
}

.news-description{
  padding: 0 0 20px;
  max-width: 750px;
  font-size: 17px;
}

.section-video{
  margin: 120px 0;
  padding: 0 100px;
}

.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-title{
  padding: 10px 0;
  font-weight: 600;
  font-size: 30px;
}

.video-subtitle{
  padding-bottom: 30px;
  font-size: 17px;
  max-width: 700px;
  text-align: center;
}

.video-wrapper{
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  height: 500px;
  width: 900px;
  background-color: #0f0f0f;
}

.video-wrapper-title{
  cursor: default;
  font-size: 20px;
  color: #FCFCFC;
}

.section-courses{
  margin-bottom: 120px;
  padding: 0 100px;
}

.courses-container{
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.courses-title{
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.courses-subtitle{
  font-size: 17px;
  text-align: left;
  max-width: 500px;
  padding-bottom: 20px;
}

.courses-image{
  background-position: center center;
  background-size: cover;
  background-image: url(/img/studying.jpg);
  width: 60%;
  height: 60vh;
}

.section-services{
  margin-bottom: 120px;
  padding: 0 100px;
}

.services-container{
  width: 100%;
  gap: 30px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-title{
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.services-subtitle{
  font-size: 17px;
  text-align: left;
  max-width: 500px;
  padding-bottom: 20px;
}

.services-image{
  background-position: center center;
  background-size: cover;
  background-image: url(/img/tech.jpg);
  width: 60%;
  height: 60vh;
}

.section-form{
  margin-bottom: 60px;
  padding: 0 100px;
}

.form-container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title{
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.form-subtitle{
  font-size: 17px;
  text-align: center;
  max-width: 600px;
  padding-bottom: 5px;
}

.form-subtitle2{
  text-align: center;
  font-size: 17px;
  padding-bottom: 30px;
}

.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-row1{
  padding-bottom: 10px;
}

.input-row2{
  padding-bottom: 10px;
}

.input-row3{
  padding-bottom: 10px;
}

.input-row4{
  padding-bottom: 10px;
}

.input-row5{
  padding-bottom: 10px;
}

.input-row6{
  padding-bottom: 20px;
}

.name{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 40px;
}

.lastname{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 40px;
}

.enterprise{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.enterprise-niche{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.telephone{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.email{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

#describe{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  width: 50.5vw;
  height: 100px;
  resize: none;
  padding: 70px 0 0 10px;
}

.footer-container{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #0F1C2C;
  padding: 0 100px;
}

.logo{
  padding: 70px 0 50px 0;
  width: 300px;
}

.footer-firts-links a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}

.footer-firts-links{
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-firts-links a:hover{
  text-decoration: underline;
}

.footer-firts-links li{
    padding: 0 10px;
}

.footer-second-links a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}

.footer-second-links{
  padding-bottom: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-second-links a:hover{
  text-decoration: underline;
}

.footer-second-links li{
    padding: 0 10px;
}

.copyright-text{
  font-size: 18px;
  padding-bottom: 50px;
  color: #ffffff;
}

@media (max-width: 1005px) {
 .nav-link p{
  font-size: 15px;
 }

 .nav-link{
  padding: 8px;
 }
  
  .hero-bg{
    width: 100vw;
    height: 300px;
  }

  .hero-logo{
    width: 300px;
  }

  .section-about{
    padding: 0 30px;
  }

  .about-title{
    font-size: 25px;
  }

  .about-description{
    font-size: 15px;
  }

  .section-about{
    padding: 0 50px;
  }

  .about-grid{
    grid-template-rows: none;
    justify-content: center;
  }

  .about-img1{
    height: 30vh
  }

  .about-img2{
    height: 30vh
  }

  .about-text1{
    height: 30vh
  }

  .about-text2{
    height: 30vh
  }

  .about-heading{
    font-size: 25px;
  }

  .about-paragraph{
    font-size: 13px;
  }

  .btn-outline{
    padding: 2px;
    font-size: 15px;
  }

  .products-title{
    font-size: 25px;
  }

  .products-description{
    font-size: 15px;
  }

  .products-subtitle{
    text-align: center;
    font-size: 15px;
  }

  .product-icons{
    width: 70px;
  }

  .card1, .card2, .card3{
    height: 200px;
  }

  .products-grid{
    margin: 0;
  }

  .card-text1{
    font-size: 15px;
  }

  .card-text2{
    font-size: 15px;
  }

  .card-text3{
    font-size: 15px;
  }
}