@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  font-weight: 300;
}

hr {
  border: 0.1px solid #e4e4e4;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #FCFCFC;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 60px;
  background-color: #0e8a78;
}

.logo-img {
  width: 90px;
  margin-right: 2px;
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  font-size: 15px;
  padding: 12px;
  color: #0e8a78;
  text-decoration: none;
}

.nav-link:hover{
  text-decoration: underline;
}

.nav-link p{
    font-weight: 500;
}

.btn-contact {
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  margin: 0 50px;
  background-color: #0e8a78;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#a{
  text-decoration: none;
}

.btn-contact:hover{
  background-color: #047060;
}

.hero-section {
  width: 100vw;
}

.hero-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/background.jpg);
  background-size: cover;
  width: 100vw;
  height: 350px;
}

.hero-title {
  text-align: center;
  max-width: 60vw;
  font-size: 30px;
  font-weight: 600;
  color: #FCFCFC;
  padding: 20px 0;
}

.hero-description {
  font-size: 17px;
  color: #FCFCFC;
  text-align: center;
  max-width: 550px;
  padding-bottom: 20px;
  max-width:40vw;
}

.section-undertaking{
  padding: 100px 100px;
}

.undertaking-container{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.undertaking-card{
  margin-right: -80px;
  position: relative;
  padding: 30px;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 35vw;
  height: 60vh;
  background-color: #f3f3f3;
}

.undertaking-image{
  width: 60vw;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-image: url(/img/colegas.jpg);
}

.undertaking-title{
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.undertaking-subtitle{
  font-size: 17px;
}

.section-mission{
  padding: 0 100px;
  padding-bottom: 100px;
}

.mission-container{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.mission-card{
  margin-left: -120px;
  position: relative;
  padding: 30px;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 35vw;
  height: 60vh;
  background-color: #f3f3f3;
}

.mission-image{
  width: 60vw;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-image: url(/img/aperto.jpg);
}

.mission-title{
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.mission-subtitle{
  max-width: 95%;
  font-size: 17px;
}

.section-offer{
  padding: 0px 100px;
  padding-bottom: 100px;
}

.offer-container{
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-card{
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  background-color: #f3f3f3;
}

.left-card-title{
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.left-card-subtitle{
  font-size: 17px;
  padding-bottom: 20px;
}

.btn-contact2 {
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  width: 120px;
  padding: 9px;
  background-color: #0e8a78;
  color: #FCFCFC;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-contact2:hover{
  background-color: #047060;
}

.right-card{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item{
  font-size: 17px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #f3f3f3;
}

.grid-icon{
  padding-bottom: 10px;
  width: 50px;
}

.grid-icon2{
  padding-bottom: 7px;
  width: 50px;
}

.section-form{
  margin-bottom: 60px;
  padding: 0 100px;
}

.form-container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title{
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.form-subtitle{
  font-size: 17px;
  text-align: center;
  max-width: 600px;
  padding-bottom: 5px;
}

.form-subtitle2{
  text-align: center;
  font-size: 17px;
  padding-bottom: 30px;
}

.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-row1{
  padding-bottom: 10px;
}

.input-row2{
  padding-bottom: 10px;
}

.input-row3{
  padding-bottom: 10px;
}

.input-row4{
  padding-bottom: 10px;
}

.input-row5{
  padding-bottom: 10px;
}

.input-row6{
  padding-bottom: 20px;
}

.name{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 40px;
}

.lastname{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 25vw;
  height: 40px;
}

.enterprise{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.enterprise-niche{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.telephone{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

.email{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  width: 50.5vw;
  height: 40px;
}

#describe{
  font-size: 15px;
  font-weight: 500;
  outline-color: #0e8a78;
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  width: 50.5vw;
  height: 100px;
  resize: none;
  padding: 70px 0 0 10px;
}

.btn-outline {
  border-radius: 5px;
  font-size: 17px;
  height: 40px;
  width: 120px;
  border: 2px solid #0e8a78;
  background-color: transparent;
  color: #0e8a78;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline:hover{
  color: #FCFCFC;
  background-color: #0e8a78;
  transition: all 0.1s ease-in;
}

.footer-container{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #0F1C2C;
  padding: 0 100px;
}

.logo{
  padding: 70px 0 50px 0;
  width: 300px;
}

.footer-firts-links a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}

.footer-firts-links{
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-firts-links a:hover{
  text-decoration: underline;
}

.footer-firts-links li{
    padding: 0 10px;
}

.footer-second-links a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}

.footer-second-links{
  padding-bottom: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-second-links a:hover{
  text-decoration: underline;
}

.footer-second-links li{
    padding: 0 10px;
}

.copyright-text{
  font-size: 18px;
  padding-bottom: 50px;
  color: #ffffff;
}

@media (max-width: 1005px) {
  .hero-bg
}